* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: white;
}
nav {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 120px;
  justify-content: space-between;
}
ul{
  list-style: none;
  display: flex;
  gap: 34px;
  color: black;
  font-family: bold;
}
li, a{
  text-decoration: none;
}
.btn{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 

  
}
#banner{
  background-image: url(../hero.png);
 
  max-width: 1745px;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#banner.banner-content{
  max-width: 1400px;
  height: 400;
  gap: 16px;
}
#banner.banner-content,.btn1{
  background-color: white;
  color: green;
  padding: 8px 12px 8px 12px;
  gap: 6px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600px;
  margin-bottom: 20px;
}
#banner.banner-content, h1{
  color: green;
  font-size: 72px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
#banner.banner-content ,h2{
  color: white;
  font-size: 72px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font: open sans-serif;
}
#banner.banner-content ,p{
  color: white;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

#banner.banner-content,.btn2{
  background-color: green;
  color: white;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn3{
  background: none;
  border-color: white;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;




}
#banner.banner-content,.btn0{
  display: flex;
  justify-content: center;
  max-width: 465px;
  height: 52px;
  gap: 16px;
  margin: 0 auto;
 
}
#about,.about1{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-align: center;
}#about,p{
  font-size: 16px;
  color: #627382;
  font-weight: 400px;
 

}
#about{
  margin-top:  30px;
  gap: 20px;
  
  
}
.img-color{
  background-color: #f95555;
  padding: 16px;
  border-radius: 50%;
  
  
}.skill-card{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1400px;
  height: 300px;
  
  
}
.skill-1{
  align-items: center;
  text-align: center;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 8px 12px  0px rgba,( 0, 0, 0,1);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  border-bottom: none;
}
.color{
  background-color: #fbfbfb;
}
#menu{
  max-width: 1745px;
  height: 840px;
  padding: 120px;
  gap: 40;
  display: flex; 
}
.menu-1{
  padding: 120px;
}
.menu-1 .p1{
  color:green;
  font-style: bold;
  margin-bottom: 0px;
  
}
.menu-1 h3 {
  font-size: 48px;
  font-style: bold;
  line-height: 100%;
  color: #001931;
}
.menu-1 p {
  max-width: 700px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 24px;
}
.menu-2 {
  display: flex;
  max-width: 700;
  height: 128;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  gap: 6px;
  font-style: 2015px;
  line-height: 20px;
  font-weight: 1000px;
  
}
#get {
  max-width: 1400px;
  height: 400px;
  background-color: #f7f6f2;
  border-radius: 12px;
  padding: 80px 40px 80px 40px;
  gap: 24px;
  text-align: center;
  margin: 0 auto;
}
.get1 h2 {
  font-style: bold;
  font-weight: 700px;
  font-size: 40px;
  line-height: 100%;
  color: #001931;
}
.get1 p {
  font-weight: 400;
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  gap: 16px;
  margin: 16px;

}
.get2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#footer {
  max-width: 1745px;
  height: 350px;
  border: 1px;
  padding: 120px 120px 30px 120px;
  background-color: #001931;
  margin-top: 120px;
}
.footer1 {
  display: flex;
  justify-content: space-between;
}
.footer-img {
  color: white;
  font-size: 30px;
  font-weight: 500px;
  line-height: 28px;
  gap: 10px;

}
.footer-img img {
  background-color: white;
  border-radius: 30px;
  padding: 3px;
  margin-top: 15px;
}
.footer2 {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  
}


  

 
 
 


 
 

