* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: white;
}
nav {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 120px;
  justify-content: space-between;
}
ul{
  list-style: none;
  display: flex;
  gap: 34px;
  color: black;
  font-family: bold;
}
li, a{
  text-decoration: none;
}
.btn{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#banner{
  background-image: url(../hero.png);
 
  max-width: 1745px;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#banner.banner-content{
  max-width: 1400px;
  height: 400;
  gap: 16px;
}
#banner.banner-content,.btn1{
  background-color: white;
  color: green;
  padding: 8px 12px 8px 12px;
  gap: 6px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600px;
  margin-bottom: 20px;
}
#banner.banner-content, h1{
  color: green;
  font-size: 72px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
#banner.banner-content ,h2{
  color: white;
  font-size: 72px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font: open sans-serif;
}
#banner.banner-content ,p{
  color: white;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

#banner.banner-content,.btn2{
  background-color: green;
  color: white;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#banner.banner-content,.btn3{
  background: none;
  border-color: white;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  justify-content: right;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
}
#banner.banner-content,.btn0{
  display: flex;
  justify-content: space-around;
  max-width: 465px;
  height: 52px;
  gap: 16px;
 
}
#about,.about1{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-align: center;
}#about,p{
  font-size: 16px;
  color: #627382;
  font-weight: 400px;
 

}
#about{
  margin-top:  30px;
  gap: 20px;
  
  
}
.img-color{
  background-color: #f95555;
  padding: 16px;
  border-radius: 50%;
  
  
}.skill-card{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1400px;
  height: 300px;
  
  
}
.skill-1{
  align-items: center;
  text-align: center;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 8px 12px  0px rgba,( 0, 0, 0,1);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  border-bottom: none;
  
  
 
}
.color{
  background-color: #fbfbfb;
}

  

  

 
 
 


 
 

